@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Definition of basic properties */
*
{
    font-family: 'Raleway', 'sans-serif';
    font-size: 16px;
}

body
{
    margin: 0 auto;
}

#container
{
    max-width: 1332px;
    margin: 0 auto;
    padding: 0 54px;
}

/* Font Size and Weight */

h1, h2
{
    font-size: 21px;
}
#filters p strong,.filter_button, input, #more_accommodations, footer h3, i
{
    font-size: 17px;
}
.accommodation_description p, .accommodation_description span
{
    font-size: 14px;
}

h1, h2, h3, #login, input, #filters p, .filter_button, #more_accommodations
{
    font-weight: bold;
}

/* Link */

a
{
    text-decoration: none;
}
a:visited
{
    color: black;
}

/* Header properties */

#top_header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 50px;
}
nav ul 
{
    display: flex;
    list-style-type: none;
    margin-top: 0;
}
nav li a
{
    padding: 48px 25px 0px 25px;
    margin: 0px 10px;
}
.internal_nav a
{
    color: black;
}
.internal_nav a:hover
{
    color: #0065FC;
    border-top: #0065FC solid 2px;
}
#login a
{
    color: #0065FC;
    margin-right: 0;
}

/* Header Section */

h1
{
    margin: 30px 0 0 0;
}
h1 + p
{
    margin-top: 10px;
}

/* Form properties */

form
{
    max-width: 25.1rem;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 15px;
    display: flex;
    flex-direction: row;
}
form i
{
    width: 12%;
    text-align: center;
    padding: 16px 0;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px / 15px 0px 0px 15px;
}
#search_area
{
    width: 56%;
    border: none;
    text-indent: 15px;
}
#search_button
{
    width: 32%;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0px 15px 15px 0px / 0px 15px 15px 0px;
}
#search_button:hover
{
    cursor: pointer;
}

/* Filters properties */

#filters
{
    display: flex;
    flex-direction: row;
    height: 50px;
    max-width: 58.3rem;
    justify-content: space-between;
    margin: 30px 0px 20px 0px

}
.filter_button
{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: #F2F2F2 2px solid;
    border-radius: 30px 30px;
    height: 50px;
    padding: 0 15px 0 0;
    
    align-items: center;
}
.filter_button i
{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    margin: -2px 15px -2px -2px;
    padding: 15.5px 0;
    font-size: 19px;
}
.filter_button:hover
{
    box-shadow: 2px 2px 2px #DEEBFF;
    cursor: pointer;
    height: 51px;
}

/* info bar about accommodations number in the city */

#info
{
    display: flex;
    flex-direction: row;
}
#info i
{
    color: #0065FC;
    border: #DEEBFF solid 1px;
    margin: auto 0;
    margin-right: 10px;
    padding: 5px;
    border-radius: 50%;
    width: 12px;
    text-align: center;
    font-size: 12px;
}

/* Main global properties */

main
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin-top: 25px;
}
.star_score
{
    display: flex;
    margin-top: 3px;
}
.accommodation_description i
{
    font-size: 12px;
    margin-right: 1px;
    color: #0065FC;
}
.accommodation_description .grey
{
    color: #d6d6d6;
}
.cheap
{
    font-weight: bold;
}

/* Main Section properties*/

#accommodations_section
{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 15px 15px;
    height: 540px;
}
#accommodations_section h2
{
    margin: 0px 0px 25px 0px;

}
#accommodations_showcase
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
#accommodations_showcase a
{
    background-color: white;
    padding: 5px;
    height: 190px;
    border-radius: 15px 15px;
    box-shadow: #d6d6d6 2px 2px 9px;
}
#accommodations_showcase a:hover
{
    box-shadow: 2px 2px 9px #0065FC;
}
#accommodations_showcase img
{
    height: 114px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
}
#accommodations_section .accommodation_description
{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.accommodation_description h3, .accommodation_description p
{
    margin: 5px 0px;
}
#more_accommodations
{
    border: none;
    text-align: left;
    margin-top: 40px;
}

/* Aside properties */

aside
{
    height: 540px;
    background-color: #F2F2F2;
    padding: 40px;
    border-radius: 15px 15px;
}
aside h2
{
    margin: 0px 0px 25px 0px;
}
aside > div > i
{
    margin-top: 4px;
    font-size: 21px;
}
aside > div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#aside_showcase
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    gap: 2rem;
}
aside a
{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: white;
    height: 135px;
    padding: 5px;
    gap: 1rem;
    border-radius: 15px 15px;
    box-shadow: #d6d6d6 2px 2px 9px;
}
aside a:hover
{
    box-shadow: 2px 2px 9px #0065FC;
}
aside img
{
    height: 135px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px / 10px 0px 0px 10px;
}
aside .accommodation_description
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 40px 10px 0px;
}
aside .star_score
{
    margin-bottom: 3px;
}
aside .accommodation_description i
{
    font-size: 11px;
}

/* Section about activities */

#activities_part
{
    display: flex;
    flex-direction: column;
}
#activities_part h2
{
    margin: 60px 0px 25px 0px;
}
#activities_section
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,1fr);
    height: 445px;
    column-gap: 2.5rem;
    row-gap: 2.5rem;
}
#port
{
    grid-area: 1/1/11/2;
}
#pomegues
{
    grid-area: 1/2/7/3;
}
#frioul
{
    grid-area: 7/2/11/3;
}
#calanques
{
    grid-area: 1/3/11/4;
}
#dame
{
    grid-area: 1/4/6/5;
}
#longchamp
{
    grid-area: 6/4/11/5;
}
#activities_section a
{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px;
    box-shadow: #F0F0F0 3px 5px 9px;
}
#activities_section a:hover
{
    box-shadow: 2px 2px 9px #0065FC;
}
.activities_img
{
    position: relative;
    flex: 1;
}
#activities_section img
{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px / 15px 15px 0px 0px;
}
#activities_section h3
{
    margin-left: 1rem;
}

/* Footer properties */

footer
{
    
    background-color: #F2F2F2;
    height: 220px;
}
#footer_block
{
    width: 1332px;
    margin: 60px auto 0 auto;
    padding: 0 54px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
footer h3
{
    margin-top: 50px;
}
footer ul
{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 75px;
}
footer ul li
{
    margin-bottom: 15px;
}